<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>My Document</title>
  </head>

  <body>
    <div class="bg-white text-gray-900">
      <div class="logo bg-[#ecebf3] flex items-center justify-between p-3">
        <img
          src="https://www.fcslng.com/wp-content/themes/fsclwordtheme/assets/images/fscllogo.png"
          alt="site logo"
          class="w-[20%]"
        />
        <h1 class="font-bold text-slate-900 text-xl uppercase">
          <span>{{accountType}} </span>
          Account Opening Form
        </h1>
      </div>

      <div class="p-5">
        <div class="py-2">
          <div class="header bg-[#c7d6d5] px-2 py-1">
            <h2 class="font-bold">PERSONAL DETAILS</h2>
          </div>
          <div class="px-3 py-2">
            <div class="flex text-base py-1 justify-between w-full">
              <div class="w-[75%]">
                <div class="flex items-center text-base py-1">
                  <div class="flex">
                    <p class="font-semibold">Title:</p>
                    <p class="pl-3">Mr.</p>
                  </div>
                  <div class="flex pl-5">
                    <p class="font-semibold">First Name:</p>
                    <p class="pl-3">Michael</p>
                  </div>
                </div>
                <div class="flex item-center text-base py-1">
                  <div class="flex">
                    <p class="font-semibold">Other Name: </p>
                    <p class="pl-3">Nzubechukwu</p>
                  </div>
                  <div class="flex pl-5">
                    <p class="font-semibold">Surname </p>
                    <p class="pl-3">Okerekemmadu</p>
                  </div>
                </div>
                <div class="flex items-center text-base py-1">
                  <div class="flex">
                    <p class="font-semibold">Date of Birth:</p>
                    <p class="pl-3">12th October, 1998</p>
                  </div>
                  <div class="flex pl-5">
                    <p class="font-semibold">Marital Status:</p>
                    <p class="pl-3">Divorced</p>
                  </div>
                </div>
                <div class="flex items-center text-base py-1">
                  <div class="flex">
                    <p class="font-semibold">Mother's Maiden Name:</p>
                    <p class="pl-3">Okafor Chineye Nnamdi</p>
                  </div>
                  <div class="flex pl-5">
                    <p class="font-semibold">Gender:</p>
                    <p class="pl-3">Female</p>
                  </div>
                </div>
                <div class="flex items-center text-base py-1">
                  <div class="flex">
                    <p class="font-semibold">Profession:</p>
                    <p class="pl-3">Medical Practioner</p>
                  </div>
                  <div class="flex pl-5">
                    <p class="font-semibold">Country:</p>
                    <p class="pl-3">Nigeria</p>
                  </div>
                </div>
                <div class="flex items-center text-base py-1">
                  <div class="flex">
                    <p class="font-semibold">State of Origin:</p>
                    <p class="pl-3">Enugu</p>
                  </div>
                  <div class="flex pl-5">
                    <p class="font-semibold">Local Government Area:</p>
                    <p class="pl-3">Ezeagu</p>
                  </div>
                </div>
              </div>
              <div class="w-[25%] p-1 border">
                <img
                  src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.wisegeek.com%2Fpassport-photo.jpg&f=1&nofb=1&ipt=a2d7440dc5a16756a97e505ba8b95fe0a2380f8284fcf228567e41b37ecf9b26&ipo=images"
                  alt="passport"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="py-2">
          <div class="header bg-[#c7d6d5] px-2 py-1">
            <h2 class="font-bold">CONTACT DETAILS</h2>
          </div>
          <div class="px-3 py-2">
            <div class="">
              <div class="flex items-center text-base py-1">
                <div class="flex">
                  <p class="font-semibold">Contact Address:</p>
                  <p class="pl-3">{{contactDetails.address}}</p>
                </div>
                <div class="flex pl-5">
                  <p class="font-semibold">Postal Address:</p>
                  <p class="pl-3">{{contactDetails.postalAddress}}</p>
                </div>
              </div>
              <div class="flex item-center text-base py-1">
                <div class="flex">
                  <p class="font-semibold">Mobile No: </p>
                  <p class="pl-3">{{contactDetails.mobileNumber}}</p>
                </div>
                <div class="flex pl-5">
                  <p class="font-semibold">Email Address: </p>
                  <p class="pl-3">{{contactDetails.email}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-2">
          <div class="header bg-[#c7d6d5] px-2 py-1">
            <h2 class="font-bold">EMPLOYMENT DETAILS</h2>
          </div>
          <div class="px-3 py-2">
            <div class="">
              <div class="flex items-center text-base py-1">
                <div class="flex">
                  <p class="font-semibold">Employment Status:</p>
                  <p class="pl-3">Self-Employed</p>
                </div>
                <div class="flex pl-5">
                  <p class="font-semibold">Employer's Name:</p>
                  <p class="pl-3">Mr. Michael Ejeana</p>
                </div>
              </div>
              <div class="flex item-center text-base py-1">
                <div class="flex">
                  <p class="font-semibold">Industry: </p>
                  <p class="pl-3">Mechanical Field</p>
                </div>

                <div class="flex pl-5">
                  <p class="font-semibold">Employment Date: </p>
                  <p class="pl-3">19th November, 1997</p>
                </div>
              </div>
              <div class="flex item-center text-base py-1">
                <div class="flex">
                  <p class="font-semibold">Employer's Address: </p>
                  <p class="pl-3">No. 5 Ejenana Estate opp anambra enugu state</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="py-2">
          <div class="header bg-[#c7d6d5] px-2 py-1">
            <h2 class="font-bold">NEXT OF KIN DETAILS</h2>
          </div>
          <div class="px-3 py-2">
            <div class="">
              <div class="flex items-center text-base py-1">
                <div class="flex">
                  <p class="font-semibold">Title:</p>
                  <p class="pl-3">Mr.</p>
                </div>
                <div class="flex pl-5">
                  <p class="font-semibold">Full Name:</p>
                  <p class="pl-3">Michael Okeke Ejeana</p>
                </div>
                <div class="flex pl-5">
                  <p class="font-semibold">Gender:</p>
                  <p class="pl-3">Female</p>
                </div>
              </div>
              <div class="flex item-center text-base py-1">
                <div class="flex">
                  <p class="font-semibold">Relationship: </p>
                  <p class="pl-3">Uncle</p>
                </div>
                <div class="flex pl-5">
                  <p class="font-semibold">Mobile No: </p>
                  <p class="pl-3">+2347066554412</p>
                </div>
              </div>
              <div class="flex item-center text-base py-1">
                <div class="flex">
                  <p class="font-semibold">Contact Address: </p>
                  <p class="pl-3">No. 54 opp close anambra enugu state</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-2">
          <div class="header bg-[#c7d6d5] px-2 py-1">
            <h2 class="font-bold">PEP STATUS</h2>
          </div>
          <div class="px-3 py-2">
            <div class="">
              <div class="flex">
                <p class="font-semibold">Are you a Politically Exposed Person:</p>
                <p class="pl-3">yes</p>
              </div>
              <div class="flex">
                <p class="font-semibold">Details: </p>
                <p class="pl-3">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti a itaque
                  dolorum. Ex assumenda perspiciatis asperiores amet animi in cupiditate harum vero,
                  quibusdam commodi! Perspiciatis veritatis, nulla nemo odit, dolores et dolorum sit
                  eius, sapiente ipsa iure recusandae repellat obcaecati.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="py-2">
          <div class="header bg-[#c7d6d5] px-2 py-1">
            <h2 class="font-bold">AUTHORIZED PERSONS</h2>
          </div>
          <div class="px-3 py-2">
            {{#each authPersonnels as |authPers|}}<div class="border-b py-2">
                <div class="flex items-center text-base py-1">
                  <div class="flex">
                    <p class="font-semibold">Signatory Name:</p>
                    <p class="pl-3">{{authPers.name}}</p>
                  </div>
                  <div class="flex pl-5">
                    <p class="font-semibold">Mobile No:</p>
                    <p class="pl-3">{{authPers.mobileNum}}</p>
                  </div>
                </div>
                <div class="flex item-center text-base py-1">
                  <div class="flex">
                    <p class="font-semibold">Email Address: </p>
                    <p class="pl-3">{{authPers.email}}</p>
                  </div>
                  <div class="flex pl-5">
                    <p class="font-semibold">Bank Verification No: </p>
                    <p class="pl-3">{{authPers.bvn}}</p>
                  </div>
                </div>
                <div class="flex">
                  <p class="font-semibold">Contact Address: </p>
                  <p class="pl-3">
                    {{authPers.address}}
                  </p>
                </div>
                <div class="flex item-center text-base py-1">
                  <div class="flex">
                    <p class="font-semibold">Means of Identification: </p>
                    <p class="pl-3">{{authPers.meansOfIdentification}}</p>
                  </div>
                  <div class="flex pl-5">
                    <p class="font-semibold">Passport: </p>
                    <p class="pl-3">
                      {{authPers.passport}}
                    </p>
                  </div>
                  <div class="flex pl-5">
                    <p class="font-semibold">Signature: </p>
                    <p class="pl-3">{{authPers.signature}}</p>
                  </div>
                </div>
              </div>{{/each}}

          </div>
        </div>
        <div class="py-2">
          <div class="header bg-[#c7d6d5] px-2 py-1">
            <h2 class="font-bold">INVESTMENT DETAILS</h2>
          </div>
          <div class="px-3 py-2">
            <div class="">
              <div class="flex items-center text-base py-1">
                <div class="flex">
                  <p class="font-semibold">Contact Address:</p>
                  <p class="pl-3">{{investDetails.address}}</p>
                </div>
                <div class="flex pl-5">
                  <p class="font-semibold">Postal Address:</p>
                  <p class="pl-3">{{investDetails.postalAddress}}</p>
                </div>
              </div>
              <div class="flex item-center text-base py-1">
                <div class="flex">
                  <p class="font-semibold">Mobile No: </p>
                  <p class="pl-3">{{investDetails.mobileNum}}</p>
                </div>
                <div class="flex pl-5">
                  <p class="font-semibold">Email Address: </p>
                  <p class="pl-3">{{investDetails.email}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-2">
          <div class="header bg-[#c7d6d5] px-2 py-1">
            <h2 class="font-bold">BANK ACCOUNT DETAILS</h2>
          </div>
          <div class="px-3 py-2">
            <div class="">
              <div class="flex items-center text-base py-1">
                <div class="flex">
                  <p class="font-semibold">Account Name:</p>
                  <p class="pl-3">{{bankDetails.accountName}}</p>
                </div>
                <div class="flex pl-5">
                  <p class="font-semibold">Bank Name</p>
                  <p class="pl-3">{{bankDetails.bank}}</p>
                </div>
              </div>
              <div class="flex item-center text-base py-1">
                <div class="flex">
                  <p class="font-semibold">Account No: </p>
                  <p class="pl-3">{{bankDetails.accountNumber}}</p>
                </div>
                <div class="flex pl-5">
                  <p class="font-semibold">Account Openning Date: </p>
                  <p class="pl-3">{{bankDetails.accountOpenDate}}</p>
                </div>
              </div>

              <div class="flex">
                <p class="font-semibold">Bank Verification No: </p>
                <p class="pl-3">{{bankDetails.bvn}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="py-2">
          <div class="header bg-[#c7d6d5] px-2 py-1">
            <h2 class="font-bold">SIGNATORY MANDATE</h2>
          </div>
          <div class="px-3 py-2">
            {{#each signatories as |signatory|}}
              <div class="border-b py-2">
                <div class="flex items-center text-base py-1">
                  <div class="flex">
                    <p class="font-semibold">Signatory Name:</p>
                    <p class="pl-3">{{signatory.name}}</p>
                  </div>
                  <div class="flex pl-5">
                    <p class="font-semibold">Designation:</p>
                    <p class="pl-3">{{signatory.designation}}</p>
                  </div>
                </div>
                <div class="flex item-center text-base py-1">
                  <div class="flex">
                    <p class="font-semibold">Signatory Class: </p>
                    <p class="pl-3 uppercase">{{signatory.class}}</p>
                  </div>
                  <div class="flex pl-5">
                    <p class="font-semibold">Signature: </p>
                    <p class="pl-3">
                      {{signatory.signature}}
                    </p>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="py-2">
          <div class="header bg-[#c7d6d5] px-2 py-1">
            <h2 class="font-bold">KYC DOCUMENTS</h2>
          </div>
          <div class="px-3 py-2">
            <div class="">
              <div class="flex items-center text-base py-1">
                <div class="flex">
                  <p class="font-semibold">Utility Bill:</p>
                  <p class="pl-3">
                    {{kycDocs.utilityBill}}
                  </p>
                </div>
                <div class="flex pl-5">
                  <p class="font-semibold">Form of Identification:</p>
                  <p class="pl-3">
                    {{kycDocs.identityUpload}}
                  </p>

                </div>

              </div>
              <div class="flex items-center text-base py-1">
                <div class="flex">
                  <p class="font-semibold pl-5">Signature: </p>
                  <p class="pl-3">
                    {{kycDocs.signature}}
                  </p>
                </div>
                <div class="flex">
                  <p class="font-semibold pl-5">Passport Photograph: </p>
                  <p class="pl-3">
                    {{kycDocs.passport}}
                  </p>

                </div>
              </div>
            </div>
          </div>s
        </div>
      </div>
    </div>

  </body>

</html>